html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #2f2d13;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  display: block;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.berries {
  color: #b20953;
}

header {
  display: block;
  text-align: center;
  background-color: #ffe500;
}

li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.125rem;
  margin: 0;
}

a {
  display: inline-block;
  color: #fff;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .2em .5em .3em;
  text-decoration: none;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0 0 .3em;
}

a:hover {
  background-color: #b20953;
}

.current {
  background-color: #cc1465;
}

footer {
  display: block;
  background-color: #ffe500;
  text-align: center;
  padding: .6em;
}

body {
  background-color: #fff;
  margin: 0;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
}

img {
  display: block;
  width: 100%;
}

main {
  margin: 0 .75em;
}
